/* Geral */

body{
  margin: 0;
}

h1,h2,h3,p{
  margin: 0;
}

ul,li{
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

.header-container{
  padding: 16px 22px 11px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.header-container > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}