/* Geral */

body{
  font-family: 'Roboto', sans-serif;
  font-size: 0.8755rem;
  line-height: 1.172;
  margin: 0;
}

h1,h2,h3,p{
  margin: 0;
}

ul,li{
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-container{
  padding: 16px 22px 11px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  width: calc(100% - 44px);
}

/* Boardmmsg */
.chat-msgs__container{
  background-color: #F3F3F3;
  height: 100vh
}

.chat-msgs__display{
  padding-top: 26px;
}

.chat-msg__item{
  padding: 12px 6px;

}

.chat-msg__item + .chat-msg__item{
margin-top: 4px;
}
.status-msg{
  background-color: #DCDCDC;
}

.private-msg{
  background-color: #FFDEDE;
}

.normal-msg{
  background-color: #fff;
}

/* MSG STYLE */

.time-style{
  color: #AAAAAA;
  font-weight: 400;
}

.text-bold{
  font-weight: 700;
}

/* enviar msg */
.footer__container{
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 27px 18px;
  
}

.footer__container form{
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 14px;
}

.footer__container form input[type='text']{
  padding: 8px;
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
}